<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Attaching Boot Strap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Attaching CSS files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <!-- Attaching JS files  -->
    <!-- <script src="{% static 'js/script.js' %}"></script>  -->
</head>
    <body>
    
        <div>
            <p>The current time and date is</p>
        </div>

        <div>
            <h1> {{ time }}</h1>
        </div>       
           
    </body>
</html>